
{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <br>
        <h1>Dragon Ball Super</h1>
        <p>Hoy los actores de voz en inglés para Goku y Vegeta, Sean Schemmel y Christopher Sabat, contaron todo lo relacionado con "Dragon Ball" en la Comic Con 2018.
            Además, durante esa presentación, se revelará material nunca antes visto para la nueva película "Dragon Ball Super: Broly".  Una vez expuesto en la feria más grande cómics, será compartido en las redes sociales. Así que mejor estar atentos. </p>
    </div>

    <div class="col-4">
        <img src="assets/img/dbSuper.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}